
@inherits NewCategoryTranslationEditBase
@page "/NewCategoryTranslation/Edit/{id}"
@attribute [Authorize(Policy = "news-control")]

<div class="page-title mt-3 mb-4"> @Localizer["Edit"] @Localizer["New Category Translation"] </div>

<EditForm Model="EntityItem" OnValidSubmit="HandelSubmit">

    <FluentValidationValidator />

    <NewCategoryTranslationForm NewCategoryTranslation="EntityItem" NewCategoryItems="NewCategoryItems" LanguageItems="LanguageItems" IsEdit="true" />

    <SubmitBtn Text="Save" Busy="EditBusy" />

</EditForm>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/NewCategoryTranslations/List"))" />