
@inherits NewCategoryTranslationCreateBase
@page "/NewCategoryTranslation/Create"
@attribute [Authorize(Policy = "news-control")]

<div class="page-title mt-3 mb-4"> @Localizer["Create"] @Localizer["New Translation"] </div>

<EditForm Model="EntityItem" OnValidSubmit="HandelSubmit">

    <FluentValidationValidator />

    <NewCategoryTranslationForm NewCategoryTranslation="EntityItem" NewCategoryItems="NewCategoryItems" LanguageItems="LanguageItems" />

    <SubmitBtn Text="Create" Busy="CreateBusy" />

</EditForm>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/NewCategoryTranslations/List"))" />
