@inherits NewEditBase
@page "/New/Edit/{id}"
@attribute [Authorize(Policy = "news-control")]

<div class="page-title mt-3 mb-4"> @Localizer["Edit"] @Localizer["New"] </div>

<EditForm Model="EntityItem" OnValidSubmit="HandelSubmit">

    <FluentValidationValidator />

    <NewForm New="EntityItem" NewCategoryItems="NewCategoryItems" IsEdit="true" />

    <SubmitBtn Text="Save" Busy="EditBusy" />

</EditForm>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/News/List"))" />