@using OA.WASM.Pages.DSA
@using OA.Domin.DSA


@inherits CommissionCreateBase
@page "/Commission/Create"
@attribute [Authorize(Policy = "people-control")]

<div class="page-title mt-3 mb-4"> @Localizer["Create"] @Localizer["Commission"] </div>

<EditForm Model="EntityItem" OnValidSubmit="HandelSubmit">

    <FluentValidationValidator />

    <CommissionForm Commission="EntityItem" />
    <SubmitBtn Text="Create" Busy="CreateBusy" />


</EditForm>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/Commissions/List"))" />

