@using OA.WASM.Pages.DSA
@using OA.Domin.DSA.ViewModels

@inherits AdministrationBoardCreateBase
@page "/AdministrationBoard/Create"
@attribute [Authorize(Policy = "people-control")]

<div class="page-title mt-3 mb-4"> @Localizer["Create"] @Localizer["AdministrationBoard"] </div>

<EditForm Model="EntityItem" OnValidSubmit="HandelSubmit">

    <FluentValidationValidator />

    @*<PersonForm Person="EntityItem.Person"  />*@
    <AdministrationBoardForm AdministrationBoard="EntityItem"  Person="EntityItem.Person"    />
    <SubmitBtn Text="Create" Busy="CreateBusy" />

</EditForm>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/AdministrationBoards/List"))" />
