@inherits AdministrationBoardEditBase
@page "/AdministrationBoard/Edit/{id}"
@attribute [Authorize(Policy = "people-control")]

<div class="page-title mt-3 mb-4"> @Localizer["Edit"] @Localizer["Person"] </div>

<EditForm Model="EntityItem" OnValidSubmit="HandelSubmit">

    <FluentValidationValidator />

    <AdministrationBoardForm AdministrationBoard="EntityItem" Person="EntityItem.Person"  IsEdit="true" />

    <SubmitBtn Text="Save" Busy="EditBusy" />

</EditForm>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/AdministrationBoards/List"))" />